
  <div class="main-logo">
    <img src="assets/images/logo.jpg" alt="">
  </div>
  <div class="main-header-text text-center">
    <h2>Simple PSD Template with cool stuff</h2>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
  <div class="main-header">
    <div class="text-center">
      <ion-button>EXPLORE TEMPLATE</ion-button>
    </div>
  </div>
  <div class="main-header-text text-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <h2>Lorem ipsum dolor sit amet</h2>

  </div>
