// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --heading-color: #2f2f2f;
    --secondary-color: #7c7c7c;
    --background-color: #f7f8fc;
    --primary-color: #77befe;
    --color-red: #fd4e6b;
    --text-color: #edeef0;

}