<div class="main-content-nav">
  <div class="icon-coloum text-center">
    <img src="assets/images/c1.png" alt="">
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel augue turpis. Sed nec finibus metus.</p>

  </div>
  <div class="icon-coloum text-center">
    <img src="assets/images/c2.png" alt="">
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel augue turpis. Sed nec finibus metus.</p>

  </div>
  <div class="icon-coloum text-center">
    <img src="assets/images/c3.png" alt="">
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel augue turpis. Sed nec finibus metus.</p>

  </div>
  <div class="icon-coloum text-center">
    <img src="assets/images/c4.png" alt="">
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel augue turpis. Sed nec finibus metus.</p>

  </div>
</div>
<div class="text-center">
  <ion-button>CHECK OUR OFFER</ion-button>
</div>
<div class="main-content">
  <div class="coloum">
    <img src="assets/images/ic1.png" alt="">

  </div>
  <div class="coloum-content">
    <div>
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel augue turpis. Sed nec finibus metus.
        Curabitur vel massa ultricies, consequat eros ac, elementum orci. Mauris sollicitudin</p>
    </div>

  </div>

  <div class="coloum-content">
    <div>
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel augue turpis. Sed nec finibus metus.
        Curabitur vel massa ultricies, consequat eros ac, elementum orci. Mauris sollicitudin</p>
    </div>


  </div>
  <div class="coloum">
    <img src="assets/images/ic2.png" alt="">

  </div>
</div>
<div class="media-content">
  <div class="coloum">
    <div>
      <img src="assets/images/app1.png" alt="">
    </div>

  </div>
  <div class="coloum-content">
    <div>
      <h2>Lorem ipsum dolor</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel augue turpis. Sed nec finibus metus.</p>
    </div>

  </div>

  <div class="coloum-content justify-center">
    <div>
      <h2>Lorem ipsum dolor</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel augue turpis. Sed nec finibus metus.</p>
    </div>

  </div>
  <div class="coloum bg">
    <div>
      <img src="assets/images/app2.png" alt="">
    </div>

  </div>
</div>

<div class="user-content">
  <div class="coloum">
    <div>
      <img src="assets/images/user-photo.png" alt="">
    </div>

  </div>
  <div class="coloum-content">
    <div>

      <h2>Template is awesome</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel augue turpis. Sed nec finibus metus.</p>
      <div class="intro">
        John Doe
        <p>CEO at CRIOS.com</p>
      </div>

    </div>

  </div>


</div>
<div class="main-header-text text-center">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  <h2>Lorem ipsum dolor sit amet</h2>
  <ion-button class="mt-15">SYMU.CO/FREEBIES</ion-button>
</div>